{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>簽到退查詢管理系統</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}">
    <script src="{% static 'model/jquery-3.6.4.min.js' %}"></script>

</head>

<body>
    <nav class="sidebar">
        <div style="text-align: center;">
            <img src="{% static 'img/logo.png' %}" height="110" width="110"/>
        </div>
        <div class="user">歡迎 {{ username }}</div>
        <div class="text">管理選單</div>
        <ul>
            <li><a href="{% url 'main' %}">刷卡紀錄查詢</a></li>
            <li><a href="{% url 'manager' %}">時數缺額查詢</a></li>
            <li><a href="{% url 'later' %}">遲到查詢</a></li>
            <li><a href="{% url 'set_time' %}">設定時間</a></li>
            <li><a href="{% url 'people' %}">人員管理</a></li>
            <li><a href="{% url 'cardman' %}">卡片管理</a></li>
            <li><a href="{% url 'logout' %}">登出</a></li>
        </ul>
    </nav>
    <script src="{% static 'js/base.js' %}"></script>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>