{% extends 'leader/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manager.css' %}">

<h1>
  {% if student_instance %}
    卡片管理 - {{ student_instance.student_id }} {{ student_instance.name }}
  {% else %}
    卡片管理 - 所有學生
  {% endif %}
</h1>

<form method="get" action="{% if student_instance %}{% url 'card' student_id=student_instance.student_id %}{% else %}{% url 'cardman' %}{% endif %}">
  <label for="filter_student">選擇學生：</label>
  <select name="filter_student" id="filter_student">
    <option value="">所有學生</option>
    {% for student in all_students %}
      <option value="{{ student.student_id }}" {% if selected_student == student.student_id %}selected{% endif %}>
        {{ student.student_id }} {{ student.name }}
      </option>
    {% endfor %}
  </select>

  <button type="submit">篩選</button>
</form>

{% if message %}
  <p>{{ message }}</p>
{% else %}
  <table>
    <thead>
      <tr>
        <th>學號姓名</th>
        <th>卡片ID</th>
        <th>綁定時間</th>
        <th>刪除卡片</th>
      </tr>
    </thead>
    <tbody>
      {% for card in filtered_cards %}
        <tr>
          <td>{{ card.student.student_id }} {{ card.student.name }}</td>
          <td>{{ card.card_id }}</td>
          <td>{{ card.create_time }}</td>
          <td>
            <form method="post" action="{% url 'delete_card' card_id=card.card_id %}">
              {% csrf_token %}
              <button type="submit" name="delete_card" value="{{ card.card_id }}">刪除</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
      <span class="step-links">
          {% if filtered_cards.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ filtered_cards.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ filtered_cards.number }} of {{ filtered_cards.paginator.num_pages }}.
          </span>

          {% if filtered_cards.has_next %}
              <a href="?page={{ filtered_cards.next_page_number }}">next</a>
              <a href="?page={{ filtered_cards.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
{% endif %}

{% endblock %}
