{% block content %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_only.css' %}">

</head>
<body>
    <div class="container">
        <h1>時數狀態</h1>
    
        <table>
            <thead>
                <tr>
                    <th>學號姓名</th>
                    <th>註冊日期</th>
                    <th>所有時數</th>
                    <th>缺少時數</th>
                </tr>
            </thead>
            <tbody>
                {% if student %}
                <tr>
                    <td> {{ student.student_id  }}{{ student.name }}</td>
                    <td> {{ student.create_time }}</td>
                    <td> {{ student.Y }}</td>
                    <td> {{ student.missing_hours }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    
    </div>
</body>
</html>
{% endblock %}